<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
        <target name="run_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="True"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="../../../Application.log"
    encoding="UTF-8"/>
      <target name="run_log1"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="True"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="DeepBelief.log"
    encoding="UTF-8"/>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <logger name="*" minlevel="Debug" writeTo="run_log" />
    <logger name="*" minlevel="Trace" writeTo="run_log1" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>